desktop.ini

# /lib/desktop.ini
# /lib/Unity/desktop.ini

# /modules/desktop.ini
# /modules/sensores/desktop.ini
# /modules/reles/desktop.ini
# /modules/contador/desktop.ini

# /src/desktop.ini
# /src/flowcoreV4/desktop.ini

# /tests/desktop.ini

# /mediciones/medicionSensores/desktop.ini